<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <record model="ir.actions.act_window" id="fleet_vehicle_losstime_action">
        <field name="name">Vehicle Losstime</field>
        <field name="res_model">fleet.vehicle.losstime</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
    </record>
    
    <menuitem name="Vehicle Losstime"
              id="fleet_vehicle_losstime"
              parent="fleet.fleet_vehicles" 
              action="fleet_vehicle_losstime_action"
              sequence= "99"
              />
</odoo>
